.column {
  float: left;
  width: 50%;
  margin: 5px;
}
.column2{
  float: left;
  width: 33.333%;
  margin: 10px;

}
.spacing{
   margin-top: 55px;
}
.row {
  display: flex;
}
* {
  font-family: Roboto;
}