.container{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 270px;
	margin-left: 0px;
	
}
.row {
  display: flex;
  width: 600px;
  margin-top: 0;
}
.column {
  float: left;
  width: 33.333%;
  margin: 15px;
}

}
.spacing{
   margin-top: 55px;
}
.row {
  display: flex;
  width: 600px;
}