.section{
	display: flex;
}
.container{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 180px;
	margin-left: 460px;
	outline: 0px dotted green;
	position: relative;
	width: 30%;
	float: left;
}

.dog{
	pointer-events: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 350px;
	margin-left: -50px;
	outline: 0px dotted green;
	position: relative;
	width: 30%;
	float: left;

}

.dogtext{
	position: fixed;
	font-size: 20px;
	margin-right: 0px;
	margin-left: 100;
	margin-top: 30;
	color: black;
	z-index: 3;
	justify-content: center;
}
.dogtext2{
	position: fixed;
	font-size: 20px;
	margin-right: 0px;
	margin-left: 100;
	margin-top: 80;
	color: black;
	z-index: 3;
	justify-content: center;
}


.item1{
	pointer-events: none;
	z-index: 1;
}

.item2{
	margin-left: -218px;
	margin-top: -210px;
	z-index: 2;
}

.item3{
	margin-left: 6px;
	margin-top: -210px;
	z-index: 2;
}

.item4{
	margin-left: 6px;
	margin-top: -210px;
	z-index: 2;
}

.item5{
	margin-left: -157px;
	margin-top: -90px;
	z-index: 2;
}

.item6{
	margin-left: 6px;
	margin-top: -90px;
	z-index: 2;
}

.item7{
	margin-left: 6px;
	margin-top: -90px;
	z-index: 2;
}

.txt{
	pointer-events: none;
	margin-left: -190px;
	margin-top: -225px;
	z-index: 2;
	position: absolute;
	opacity: 0; 

}

/* Text animation */

.body {
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 200px;
  margin left: 2200px;
  width: 200px;
  height: 500px;

}

#text{
  font-size: 20px;
}


